body{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}
.form{
    width: 50%;
    margin: auto;
    background:linear-gradient(to bottom, rgba(64, 206, 192, 0.697),white);
    padding: 20px 0px;
    border: 1px solid black;
    border-radius: 20px;
}
.form input{
    width: 80%;
    height: 40px;
    margin: 10px 0px;
    border: none;
    border-radius: 10px;
    outline: none;
}
.form textarea{
    width: 80%;
    outline: none;
    margin: 10px 0px;
    border: none;
    border-radius: 10px;
}
.form button{
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 13px;
    border: 1px solid black;
    background-color:rgba(43, 164, 164, 0.76);
    transition: .5s;
}
.form button:hover{
    background-color:rgba(43, 164, 164, 0.76);
    padding: 5px 15px;
}
