body{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}
.card{
    width: 80%;
    margin: 20px 100px ;
    padding: 20px 20px;
    background-color: rgba(85, 184, 187, 0.415);
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    text-align: left;
}